<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yds.main">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApp"
        android:theme="@style/WanTheme">
        <activity
            android:name=".RealMainActivity"
            android:exported="false" />
        <activity
            android:name=".CollectActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity2"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="test"
                    android:path="/test/TestActivity2"
                    android:scheme="scheme" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".PreviewImageActivity"/>
    </application>

</manifest>